.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    position: relative;
    color: white;
    padding: 0 1rem 0 1rem;
    &-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0rem;
        p{
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &-toggle{
        display: flex;
        align-items: center;
        justify-content: flex-end; // places toggle to the right if in a navbar
        padding: 0 1rem;
        &-switch{
            display: flex;
            align-items: center;
            color: white;
            cursor: pointer;
        }
    }
}