<div class="navbar">
    <div class="navbar-logo">
        <p class="text">The Movie Zone</p>
    </div>
    <div class="navbar-toggle">
        <div class="navbar-toggle-switch">
            <ui-switch 
                [(ngModel)]="isDark" 
                (change)="toggleTheme()"
                [size]="'small'" 
                [color]="'#20FC8F'" 
                [switchColor]="'#ffffff'"
                [checked]="false"
            >
            Theme
            </ui-switch>
        </div>
    </div>
</div>