body{
    margin: 0px;
    padding: 0px; 
    outline: none;
    border: 0px;
}

.navbar{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    background-color: var(--bg);
    color: white;
    margin: -10px;
    &-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: var(--bg);
        
    }
    &-logo-img{
        width: 25px;
        height: 25px;
        cursor: pointer;
    }
}

.text{
    font-size: 28px;
    font-weight: bold;
    text-transform: uppercase;
    margin: 10px;
    background-color: var(--bg);
}