.navbar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--bg);
    position: relative;
    color: white;
    padding: 0 1rem 0 1rem;
    &-logo{
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 0;
        padding: 0rem;
        p{
            font-size: 2rem;
            font-weight: bold;
            text-transform: uppercase;
        }
    }
    &-toggle{
        display: flex;
        align-items: center;
        justify-content: flex-end; // places toggle to the right if in a navbar
        padding: 0 1rem;
        &-switch{
            display: flex;
            align-items: center;
            color: white;
            cursor: pointer;
        }
        a{
            text-decoration: none;
            color: #ffffff;
            margin: 0 1rem 0 1rem;
        }
    }
}

label{
    width: 40px;
    height: 20px;
    position: relative;
    display: block;
    background: #ebebeb;
    border-radius: 20px;
    box-shadow: inset 0px 0.5px 1.5px rgba(0,0,0,0.4), inset 0px -0.5px 1.5px rgba(255, 255, 255, 0.4);
    cursor: pointer;
    transition: 0.3s;
}

label::after{
    content: "";
    width: 18px;
    height: 18px;
    position: absolute; 
    top: 1px;
    left: 1px;
    background: linear-gradient(180deg, #CCE3DE, #6B9080);
    border-radius: 18px;
    box-shadow: 0px 0.5px 1px rgba(0,0,0,0.2);
    transition: 0.3s;
}

input{
    width: 0;
    height: 0;
    visibility: hidden;
}

input:checked + label{
    background: #242424;
}

input:checked + label::after{
    left: 39px;
    transform: translateX(-100%);
    background: linear-gradient(180deg, #777, #3a3a3a);
}

label:active::after{
    width: 26px;
}

label svg{
    position: absolute;
    width: 12px;
    top: 4px;
    z-index: 100;
}

label svg.sun{
    left: 4px;
}
label svg.moon{
    left: 25px;
    visibility: hidden;
}

input:checked + label svg.sun{
    visibility: hidden;
}

input:checked + label svg.moon{
    visibility: inherit;
}