<div class="footer-box">
    <div class="footer-box-contact">
        <div class="footer-box-contact-address">
            <p>Kurnool, Andhra Pradesh, India - 518003</p>
        </div>
        <div class="footer-box-contact-email">
            <a href="mailto:abhinayyzz18@gmail.com">Email</a>
        </div>
    </div>
    <div class="footer-box-social">
        <div class="footer-box-social-me">
            <p>Made by AC18</p>
        </div>
        <div class="footer-box-social-quote">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. 
            Rerum, facere nihil voluptatibus facilis, similique totam, 
            odit esse ex consequuntur eius eveniet veniam eligendi! 
        </div>
        <div class="footer-box-social-links">
            <div class="footer-box-social-links-github">
                <a href="https://github.com/Abhinay-c" target="_blank">github</a>
            </div>
            <div class="footer-box-social-links-linkedin">
                <a href="https://www.linkedin.com/in/abhinay-challa/" target="_blank">LinkedIn</a>
            </div>
            <div class="footer-box-social-links-x">
                <a href="https://x.com/abhinayyzz" target="_blank">X</a>
            </div>
        </div>
    </div>
</div>