<div class="details">
    <div class="details-image">
        <img [src]="movie.Poster" alt="Poster is not available">
    </div>
    <div class="details-text">
        <div>Title: {{movie.Title}}</div>
        <div>Year: {{movie.Year}}</div>
        <div>Rated: {{movie.Rated}}</div>
        <div>Released: {{movie.Released}}</div>
        <div>Runtime: {{movie.Runtime}}</div>
        <div>Genre: {{movie.Genre}}</div>
        <div>Director: {{movie.Director}}</div>
        <div>Writer: {{movie.Writer}}</div>
        <div>Actors: {{movie.Actors}}</div>
        <div>Plot: {{movie.Plot}}</div>
        <div>Language: {{movie.Language}}</div>
        <div>Country: {{movie.Country}}</div>
        <div>Awards: {{movie.Awards}}</div>
        <div>Metascore: {{movie.Metascore}}</div>
        <div>IMDB Rating: {{movie.imdbRating}}</div>
        <div>IMDB Votes: {{movie.imdbVotes}}</div>
        <div>IMDB ID: {{movie.imdbID}}</div>
        <div>Type: {{movie.Type}}</div>
        <div>DVD: {{movie.DVD}}</div>
        <div>BoxOffice: {{movie.BoxOffice}}</div>
        <div>Production: {{movie.Production}}</div>
        <div>Website: {{movie.Website}}</div>
        <div>Response: {{movie.Response}}</div>
    </div>
</div>
