<div class="search-page">
    <div class="search-page-header">
        <h1>Search your favorite Movies and shows...</h1>
    </div>
    <div class="search-page-input">

        <div class="search-page-input-subtitle">
            Find ratings, facts and other information just with the title...
        </div>

        <div class="search-page-input-type">
            <label for="type">Search using</label>
            <select name="type" id="type" [(ngModel)]="searchType">
            <option value="type-title">Title</option>
            <option value="type-id">IMDB ID</option>
            </select>
        </div>

        <div class="search-page-input-form">
            <form #form="ngForm" (ngSubmit)="onSubmit(form)">
                <input 
                    *ngIf="searchType === 'type-title'"
                    type="text" 
                    placeholder="Enter Title..." 
                    class="search-page-input-form-in" 
                    name="title"
                    ngModel
                />
                <input 
                    *ngIf="searchType === 'type-id'"
                    type="text"
                    placeholder="Enter IMDB ID..." 
                    class="search-page-input-form-in" 
                    name="imdbId"
                    ngModel
                />
                <button>
                    <span class="text">Search</span>
                </button>
            </form>
        </div>
    </div>
</div>