@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');
.search-page{
    margin: 1rem;
    padding: 0px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    white-space: wrap;

    &-header{
        align-items: center;
        width: 40rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        background-color: #353831;
        color: white;
        h1{
            width: 40rem;
            text-align: center;
            font-weight: 1000;
            font-size: 5rem;
            text-transform: uppercase;
            font-family: 'Roboto Mono';
        }
    }
    &-input{
        border-radius: 1.5rem;
        align-items: stretch;
        flex-direction: column;
        width: 40rem;
        height: 40rem;
        display: flex;
        justify-content: center;
        background-color: #38423B;
        color: white;
        overflow: hidden;
        box-shadow: 10px 5px 5px #2D2D2A;

        &-subtitle{
            width: 40rem;
            text-align: center;
            font-weight: 800;
            font-size: 1.5rem;
            text-transform: uppercase;
            font-family: 'Roboto Mono';
            background-color: #38423B;
        }

        &-type{
            margin: 1rem;
            width: 40rem;
            display: flex;
            align-items: center;
            justify-content: center;
            background-color: #38423B;

            label{  
                margin: 1rem;
                font-family: 'Roboto Mono';
                font-size: 1rem;
                background-color: #38423B;
            }
            select{
                margin: 1rem;
                font-family: 'Roboto Mono';
                font-size: 1rem;
                background-color: #38423B;
            }
            option{
                margin: 1rem;
                font-family: 'Roboto Mono';
                font-size: 1rem;
                background-color: #fff;
            }
            select, ::picker(select) {
                appearance: base-select;
            }
        }
        
        &-form{
            margin: 1rem;
            font-size: 1rem;
            justify-content: center;
            display: flex;
            background-color: #38423B;
            form{
                background-color: #38423B;
                input{
                    font-family: 'Roboto Mono';
                    padding: 0.35rem;
                    font-size: 1rem;
                    border-radius: 0.25em;
                    // border: outset #a370f0;
                    background-color: #3F5E5A;
                    color: white;
                }
                input:focus{
                    border-color: #20FC8F;
                }
                button{
                    font-size: 1rem;
                    font-family: 'Roboto Mono';
                    // background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
                    background-color: #20FC8F;
                    box-shadow: rgba(151, 65, 252, 0.2) 0 1rem 2rem -0.3rem;
                    color: #2D2D2A;
                    font-weight: 800;
                    padding: 0.35rem;
                    border-radius: 0.5em;
                    margin: 0 1rem 0 1rem;
                    cursor: pointer;
                    transition: all 0.1s;
                }
                button:hover{
                    color: #2D2D2A;
                    background: #A4C3B2;
                    border-width: 0.1rem;
                    font-weight: 800;
                    border-color: #CCE3DE;
                }
                // button{
                //     margin: 1rem;   
                //     align-items: center;
                //     background-image: linear-gradient(144deg, #af40ff, #5b42f3 50%, #00ddeb);
                //     border: 0;
                //     border-radius: 0.5rem;
                //     box-shadow: rgba(151, 65, 252, 0.2) 0 1rem 2rem -0.3rem;
                //     box-sizing: border-box;
                //     color: #ffffff;
                //     // display: flex;
                //     font-size: 1rem;
                //     // justify-content: center;
                //     line-height: 1em;
                //     padding: 0.5rem;
                //     text-decoration: none;
                //     user-select: none;
                //     -webkit-user-select: none;
                //     touch-action: manipulation;
                //     white-space: nowrap;
                //     cursor: pointer;
                //     transition: all 0.3s;
                // }
                // button:active, button:hover {
                //     outline: 0;
                // }
                // button span{
                //     background-color: rgb(5, 6, 45);
                //     padding: 0.4rem 1rem;
                //     border-radius: 6px;         
                //     transition: 300ms;
                // }
                // button:hover span {
                //     background: none;
                // }
                
                // button:active {
                //     transform: scale(0.9);
                // }
            }
        }

    }
}

@media screen and (max-width: 1240px) {
    .search-page{
        flex-direction: column;
        &-header{
            height: 15rem;
            margin: 5rem;
        }
        &-input{
            align-items: stretch;
            justify-content: center;
            height: 15rem;
        }
    }
}