<div class="search-page">
    <div class="search-page-header">
        <h1 class="search-page-title">Search Movies</h1>
        <p class="search-page-subtitle">Find your favorite movies and TV shows</p>
    </div>


    <label for="type">Search using</label>
    <select name="type" id="type" [(ngModel)]="searchType">
        <option value="type-title">Title</option>
        <option value="type-id">IMDB ID</option>
    </select>

    <form class="search-page-form" #form="ngForm" (ngSubmit)="onSubmit(form)">
        <input 
            *ngIf="searchType === 'type-title'"
            type="text" 
            placeholder="Enter Title..." 
            class="search-input" 
            name="title"
            ngModel
        />
        <input 
            *ngIf="searchType === 'type-id'"
            type="text"
            placeholder="Enter IMDB ID..." 
            class="search-input" 
            name="imdbId"
            ngModel
        />
        <button class="search-page-button">Search</button>
    </form>

</div>